@use '../definition' as *;

.vending-container {
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    padding: 40px;
    background: $primaryBackroundColor;

    .vending-box {
        width: 40%;
        background: $primaryBackroundColor;
        border-radius: 14px;
        padding: 25px;
        border: 2px solid $borderColor;

        @media (max-width: #{$maxTabletWidth}) {
            width: 50%;
        }

        @media (max-width: #{$maxMobileWidth}) {
            width: 90%;
        }

        .message {
            width: 100%;
            color: white;
            font-size: 22px;
            font-weight: bold;
            border: 2px solid $borderColor;
            border-radius: 8px;
            padding: 10px 8px;
            text-align: center;
            animation: colorChange 3s linear infinite;
        }


        @keyframes colorChange {
            0% {
                color: white;
            }

            33% {
                color: #0ff;
            }

            66% {
                color: yellow;
            }

            100% {
                color: white;
            }
        }

        .currency-box {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .currency-input {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 10px;
                background: black;
                border-radius: 8px;
                border: 2px solid $borderColor;

                @media (max-width: #{$maxTabletWidth}) {
                    flex-wrap: wrap;
                    gap: 10px;
                }

                input {
                    background: $primaryBackroundColor;
                    border: none;
                    padding: 10px;
                    font-size: 18px;
                    color: $textColor;
                    font-weight: bold;
                    outline: none;
                    text-align: center;

                    &:focus {
                        border-color: $textColor;
                    }

                    @media (max-width: #{$maxTabletWidth}) {
                        width: 80%;
                    }
                }

                select {
                    background: $primaryBackroundColor;
                    border: none;
                    padding: 10px;
                    color: $textColor;
                    font-size: 16px;
                    font-weight: bold;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        color: white;
                    }
                }

                .balnce-container {
                    text-align: right;
                    color: $textColor;
                    font-size: 14px;

                    p {
                        margin: 0;
                    }

                    .balance-count {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
        }

        .insert-btn,
        .cancel-btn {
            width: 50%;
            padding: 15px;
            font-size: 18px;
            text-transform: uppercase;
            border: none;
            color: black;
            font-weight: bold;
            border-radius: 8px;
            cursor: pointer;
            align-self: center;
            background: $btnYellow;
            transition: 0.10s;

            &:hover {
                transform: scale(1.02);
            }

            &:active {
                transform: translateY(6px);
            }

            @media (max-width: #{$maxTabletWidth}) {
                width: 80%;
            }
        }

        .cancel-btn {
            background: red;
        }

        .purchase-buttons-container {
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            background-color: $btnsContainerBackground;
            border-radius: 8px;
            gap: 12px;
        }
    }
}