@use '../definition' as *;

.login-form {
    padding: 20px;
    background: $primaryBackroundColor;
    border: 2px solid $borderColor;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
        color: $textColor;
        text-align: center;
        font-size: 24px;
        margin: 0;
    }

    .error {
        color: red;
        margin: 4px 0 0 0;
        font-size: 14px;
    }

    .login-input {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 100%;

        label {
            color: white;
            font-size: 16px;
            font-weight: bold;
        }

        input {
            background: $primaryBackroundColor;
            color: $textColor;
            border: 2px solid $borderColor;
            border-radius: 8px;
            padding: 10px;
            outline: none;
            font-size: 16px;
            font-weight: bold;

            &:focus {
                border-color: $textColor;
            }
        }
    }

    .form-btn {
        margin-top: 10px;
        padding: 12px;
        background: $textColor;
        color: #000;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.15s;
        width: 100%;

        &:hover {
            transform: scale(1.03);
        }

        &:active {
            transform: translateY(4px);
        }

        &:disabled {
            background: gray;
        }
    }
}
