@use '../definition' as *;

:host {
    display: inline-block;
    width: 40%;

    @media (max-width: #{$maxTabletWidth}) {
        width: 100%;
    }
}

button {
    width: 100%;
    padding: 15px 5px;

    text-transform: uppercase;
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
    background: $btnYellow;
    transition: scale 0.10s;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        transform: translateY(6px);
    }

    &:disabled {
        background: gray;
    }
}