<div class="product-form">
    <h2>Добавяне на продукт</h2>

    <div class="product-input">
        <label>Name:</label>
        <input type="text" 
            required="true" 
            id="productName" 
            placeholder="Enter name" 
            [(ngModel)]="name"
            (input)="isNameExist = false">
        @if(isNameExist) {
        <p class="error">Name already exists!</p>
        }
    </div>

    <div class="product-input">
        <label>Quantity:</label>
        <input type="number"
            required="true" 
            id="productQty" 
            placeholder="Enter quantity" 
            [(ngModel)]="quantity">
    </div>

    <div class="product-input">
        <label>Price:</label>
        <input type="number" 
            required="true" 
            id="productPrice" 
            placeholder="Enter price" 
            step="0.05"
            [(ngModel)]="price">
    </div>

    <button [disabled]="!name || !quantity || !price" class="form-btn" (click)="addProduct()">Add product</button>
    <button class="form-btn" (click)="onBack()">Back</button>
</div>