@use '../definition' as *;

.product-form {
    padding: 20px;
    background: $primaryBackroundColor;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;


    h2 {
        color: $textColor;
        text-align: center;
        font-size: 22px;
        margin: 0;
    }

    .error {
        color: red;
        margin: 4px 0 0 0;
    }

    .product-input {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 50%;

        @media (max-width: #{$maxTabletWidth}) {
            width: 70%;
        }

        label {
            color: white;
            font-size: 16px;
            font-weight: bold;
        }

        input {
            background: $primaryBackroundColor;
            color: $textColor;
            border: 2px solid $borderColor;
            border-radius: 8px;
            padding: 10px;
            outline: none;
            font-size: 18px;
            font-weight: bold;
            text-align: center;

            &:focus {
                border-color: $textColor;
            }
        }
    }

    .form-btn {
        margin-top: 10px;
        padding: 12px;
        background: $textColor;
        color: #000;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.15s;
        width: 30%;

        &:hover {
            transform: scale(1.03);
        }

        &:active {
            transform: translateY(4px);
        }

        &:disabled {
            background: gray;
        }

        @media (max-width: #{$maxTabletWidth}) {
            width: 50%;
        }
    }
}